.jumbotron{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: white;
}
.form-control{
	margin-top: 10px;
	margin-bottom: 10px;
}
.selecionado{
	background-color: #ECECEC;
}
.negrito{
	font-weight: bold;
}
a:link, a:visited,a:hover,a:active {
	color: white;
}